.pagination-nav {
  position: fixed;
  left: 70px;
  bottom: 30px;
  width: 100vw;
  height: 5%;
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.pagination-nav-dark {
  position: fixed;
  left: 70px;
  bottom: 30px;
  width: 100vw;
  height: 5%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.pagination-text {
  color: white;
  font-size: 20px;
}
.number-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
.list-item {
  text-decoration: none;
  margin: 6px;
}
.pagination-btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 30px;
  background-color: white;
  color: #1f2937;
}
.pagination-btn-dark {
  border: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 30px;
  background-color: white;
  color: black;
}
.pagination-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media (max-width: 1719px) {
  .pagination-nav {
    position: fixed;
    left: 0px;
    bottom: 30px;
    width: 100vw;
    height: 5%;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  }
  .pagination-nav-dark {
    position: fixed;
    left: 0px;
    bottom: 30px;
    width: 100vw;
    height: 5%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  }
}
