.articles-page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70rem;
  height: 60rem;
  grid-gap: 1rem;
}
.big-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #1f2937;
  color: #fafafa;
  padding: 1.2rem;
  margin: 0 1rem;
  border-radius: 10px;
  max-height: 30rem;
  max-width: 450px;
}
.big-container-dark {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(49, 47, 47);
  color: #fafafa;
  padding: 1.2rem;
  margin: 0 1rem;
  border-radius: 10px;
  max-height: 30rem;
  max-width: 450px;
}
.article-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.article-body {
  width: 90%;
  height: 100%;
  text-align: center;
}
.article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-header:hover {
  transform: translateY(-3px);
  cursor: pointer;
  opacity: 0.7;
}
.article-title {
  font-size: 1.25em;
  text-align: center;
}
.article-header {
  padding: 5px;
}
.categories-container-dark {
  border: 1px solid rgb(49, 47, 47);
  width: 17rem;
  height: 22rem;
  margin-left: 1.2rem;
  border-radius: 10px;
  padding: 1rem;
  color: white;
  background-color: rgb(49, 47, 47);
}
.categories-container {
  border: 1px solid #1f2937;
  width: 17rem;
  height: 22rem;
  margin-left: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  background-color: #1f2937;
}
.categories-list-dark {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgb(49, 47, 47);
}
.categories-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #1f2937;
}
.categories-btn {
  border: none;
  background-color: inherit;
  color: #1f2937;
  font-size: 1rem;
  font-weight: bold;
  padding: 7px;
  background-color: #fafafa;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.categories-btn-selected {
  border: none;
  background-color: inherit;
  color: #1f2937;
  font-size: 1rem;
  font-weight: bold;
  padding: 7px;
  background-color: lightgray;
  box-shadow: 0 0 2px 2px silver;
  margin-left: 10px;
  margin-bottom: 17px;
  border-radius: 10px;
}

.categories-btn:hover,
.categories-btn-selected:hover {
  opacity: 0.7;
  cursor: pointer;
}
.article-image {
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  max-width: 1000px;
  height: fit-content;
}
.article-image-tag {
  width: 100%;
  height: auto;
}
