:root {
  --background-color: #1f2937;
}
.form-content-header {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  gap: 10px;
  width: 80%;
}
.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
.form-bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
  width: 50%;
  align-items: center;
}

.form-close-btn {
  background-color: var(--background-color);
  border-radius: 5px;
  color: #fafafa;
  border: none;
  padding: 6px;
  margin-right: 40px;
  width: 30vw;
  text-align: end;
  font-weight: 700;
  font-size: 25px;
}
.form-close-btn-dark {
  background-color: black;
  border-radius: 5px;
  color: grey;
  border: none;
  padding: 6px;
  margin-right: 40px;
  width: 30vw;
  text-align: end;
  font-weight: 700;
  font-size: 25px;
}
.form-close-btn:hover,
.form-close-btn-dark:hover {
  opacity: 0.7;
  cursor: pointer;
}

h1 {
  font-size: 30px;
  text-align: center;
}

.form-option-btn {
  border-radius: 5px;
  background-color: #fafafa;
  color: var(--background-color);
  padding: 7px;
  text-align: center;
  width: 6vw;
  border: none;
  font-size: 15px;
}

.form-input:focus,
.form-option-btn:focus {
  opacity: 0.85;
  color: var(--background-color);
  outline-color: #4a5369;
}
.form-input:hover {
  opacity: 0.8;
}

.showForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  font-size: 23px;
  color: #fafafa;
  border-radius: 8px;
}
.showForm-dark {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 100%;
  font-size: 23px;
  color: grey;
  border-radius: 8px;
}
.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dialog {
  position: fixed;
  top: 350px;
  left: 300px;
  height: 50%;
  width: 40%;
  border: none;
  background-color: transparent;
  z-index: 2;
  padding: 10px;
}

.top-layer-card-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 80;
}
.top-layer-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.cards {
  display: flex;
  justify-content: space-between;
  height: 40%;
}
.individual-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  margin: 30px;
  border-radius: 20px;
  background-color: var(--background-color);
  color: #fafafa;
}
.individual-card-dark {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  margin: 30px;
  border-radius: 20px;
  background-color: black;
  color: white;
}
.card-btn {
  border: none;
  padding: 15px;
  color: var(--background-color);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}
.card-btn-dark {
  border: none;
  padding: 15px;
  color: black;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
}
.card-btn:hover,
.card-btn-dark:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  list-style: none;
  font-size: 20px;
  padding: 10px;
}
.modal-list {
  padding: 15px;
  font-size: 20px;
  background-color: white;
  color: var(--background-color);
  margin: 10px;
  border-radius: 10px;
}

.individual-card:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transform: translateY(-10px);
}
.dropdown {
  border-radius: 5px;
  background-color: #fafafa;
  color: var(--background-color);
  padding: 7px;
  text-align: center;
  border: none;
  font-size: 17px;
}
.form-submit-btn:hover,
.dropdown:hover {
  opacity: 0.7;
  cursor: pointer;
}
.form-submit-btn {
  border-radius: 5px;
  background-color: #fafafa;
  color: var(--background-color);
  padding: 7px;
  text-align: center;
  width: 6vw;
  border: none;
  font-size: 17px;
}
.menu-items {
  display: block;
  text-decoration: none;
  color: #fafafa;
  background-color: var(--background-color);
  border: 1px solid yellow;
}

.disabled-card {
  pointer-events: none;
  opacity: 0.8;
}
