:root {
  --background-color: #1f2937;
}
.form-content-header {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  gap: 0.625rem;
  width: 30rem;
}
.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 52rem;
  width: 45rem;
}
.form-bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  width: 50%;
  align-items: center;
}
.btn-container {
  width: 100%;
  justify-content: flex-end;
}
.form-close-btn {
  background-color: var(--background-color);
  color: #fafafa;
  border: none;
  font-weight: 700;
  font-size: 1.1rem;
  width: 10%;
}
.form-close-btn-dark {
  background-color: black;
  color: grey;
  border: none;
  font-weight: 700;
  font-size: 1.1rem;
  width: 10%;
}
.form-close-btn:hover,
.form-close-btn-dark:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form-option-btn {
  border-radius: 5px;
  background-color: #fafafa;
  color: var(--background-color);
  padding: 0.45rem;
  text-align: center;
  width: 6.5rem;
  border: none;
  font-size: 1rm;
}

.form-input:focus,
.form-option-btn:focus {
  opacity: 0.85;
  color: var(--background-color);
  outline-color: #4a5369;
}
.form-input:hover {
  opacity: 0.8;
}

.showForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  height: 42rem;
  width: 42rem;
  font-size: 1.2rem;
  color: #fafafa;
  border-radius: 8px;
}
.showForm-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 42rem;
  width: 42rem;
  font-size: 1.2rem;
  color: grey;
  border-radius: 8px;
}
.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dialog {
  position: fixed;
  top: 15rem;
  left: 15rem;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.top-layer-card-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 80;
}
.top-layer-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.124rem;
}
.cards {
  display: flex;
  justify-content: space-between;
  height: 45rem;
}
.individual-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3.124rem;
  margin: 3.124rem;
  border-radius: 20px;
  background-color: var(--background-color);
  color: #fafafa;
}
.individual-card-dark {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3.124rem;
  margin: 3.124rem;
  border-radius: 20px;
  background-color: black;
  color: white;
}
.card-btn {
  border: none;
  padding: 1rem;
  color: var(--background-color);
  border-radius: 10px;
  font-size: 1.1rem;
  text-align: center;
}
.card-btn-dark {
  border: none;
  padding: 1rem;
  color: black;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: white;
}
.card-btn:hover,
.card-btn-dark:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  list-style: none;
  font-size: 1.1rem;
  padding: 0.625rem;
}
.modal-list {
  padding: 1rem;
  font-size: 1.1rem;
  background-color: white;
  color: var(--background-color);
  margin: 0.625rem;
  border-radius: 10px;
}

.individual-card:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transform: translateY(-0.625rem);
}
.dropdown {
  border-radius: 5px;
  background-color: #fafafa;
  color: var(--background-color);
  padding: 0.5rem;
  text-align: center;
  border: none;
  font-size: 1rem;
}
.form-submit-btn:hover,
.dropdown:hover {
  opacity: 0.7;
  cursor: pointer;
}
.form-submit-btn {
  border-radius: 5px;
  background-color: #fafafa;
  color: var(--background-color);
  padding: 7px;
  text-align: center;
  width: 6.5rem;
  border: none;
  font-size: 1rem;
}
.menu-items {
  display: block;
  text-decoration: none;
  color: #fafafa;
  background-color: var(--background-color);
}

.disabled-card {
  pointer-events: none;
  opacity: 0.8;
}
