.searchModal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1f2937;
  width: 40%;
  height: 45%;
  top: 15%;
  left: 15%;
  border: none;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  z-index: 1;
}
.closeBtn {
  width: 18px;
  position: relative;
  left: 94%;
  border: none;
  background-color: #1f2937;
  color: #fafafa;
  font-weight: 800;
  font-size: 18px;
}
.closeBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.searchBtn {
  border: none;
  border-radius: 10px;
  background-color: transparent;
}
.searchBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.searchResultsContainer {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  z-index: 1;
  border: 1px solid #fafafa;
  height: 80%;
  border-radius: 10px;
  padding: 20px;
}
.searchOptions {
  border-right: 1px solid #1f2937;
  width: 17vw;
}
.searchResults {
  border-left: 1px solid #1f2937;
}
.searchBarContainer {
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  border-radius: 10px;
}
.searchInput {
  width: 100%;
  border-radius: 10px;
  padding-left: 3px;
  border: none;
  font-size: 18px;
}
.searchBtn {
  color: #1f2937;
  z-index: 2;
  margin-right: 2px;
  padding: 3px;
  border: none;
  font-size: 18px;
}
.searchBtn:hover,
.searchBtnModal:hover {
  opacity: 0.7;
  color: #4a5369;
  cursor: pointer;
}
.searchModalHeader {
  position: absolute;
  top: 90px;
  background-color: #fafafa;
  border-radius: 10px;
  height: 30px;
  width: 620px;
}
.searchBtnModal {
  background-color: #fafafa;
  border: none;
  z-index: 2;
}

.searchInputModal {
  height: 30px;
  width: 580px;
  border-radius: 10px;
  border: none;
  position: relative;
  z-index: 2;
}
.searchInput:focus {
  opacity: 0.85;
  color: #1f2937;
  outline-offset: 1.2px;
  outline-style: none;
  cursor: pointer;
}
