.navbar-toggle-btn {
  display: flex;
  height: 100%;
  outline: none;
  margin: 0 10px;
}
img {
  width: 40px;
}
.navbar-toggle-btn:hover,
.navbar-toggle-btn:focus {
  cursor: pointer;
  opacity: 0.7;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 13px;
  background-color: #1f2937;
  align-items: center;
  color: #fafafa;
}
.navbarItems {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}
.navbar-signup-btn {
  margin-right: 11px;
  width: 2vw;
  background-color: #1f2937;
  border: none;
  color: #fafafa;
  font-size: 18px;
}
.navbar-signup-btn:hover {
  cursor: pointer;
  opacity: 0.7;
  border-radius: 30px;
  background-color: #4a5369;
}
.navbar-signup-btn:focus {
  background-color: #fafafa;
  color: #1f2937;
  border-radius: 30px;
}
