.navbar-toggle-btn {
  display: flex;
  outline: none;
  margin: 0 5px;
}
img {
  width: 45px;
  margin-right: 10px;
}
.navbar-toggle-btn:hover,
.navbar-toggle-btn:focus {
  cursor: pointer;
  opacity: 0.7;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  padding: 13px;
  top: 0px;
  background-color: #1f2937;
  align-items: center;
  color: #fafafa;
  z-index: 3;
}
.navbar-dark {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  top: 0px;
  padding: 13px;
  background-color: black;
  align-items: center;
  color: grey;
  z-index: 3;
}
.navbarItems {
  width: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.navbar-signup-btn {
  margin: 0 5px;
  width: 100px;
  background-color: #1f2937;
  border: none;
  color: #fafafa;
  font-size: 18px;
  text-wrap: wrap;
}
.navbar-signup-btn-dark {
  margin: 0 5px;
  width: 100px;
  background-color: black;
  border: none;
  color: #fafafa;
  font-size: 18px;
  text-wrap: wrap;
}
.navbar-email-btn {
  margin: 0 5px;
  width: 300px;
  background-color: #1f2937;
  border: none;
  color: #fafafa;
  font-size: 18px;
  text-wrap: wrap;
}
.navbar-email-btn-dark {
  margin: 0 5px;
  width: 300px;
  background-color: black;
  border: none;
  color: #fafafa;
  font-size: 18px;
  text-wrap: wrap;
}

.navbar-signup-btn:hover,
.navbar-signup-btn-dark:hover,
.navbar-email-btn-dark:hover,
.navbar-email-btn:hover {
  cursor: pointer;
  opacity: 0.7;
  border-radius: 30px;
}
.navbar-signup-btn:focus,
.navbar-signup-btn-dark:focus .navbar-email-btn-dark:focus,
.navbar-email-btn:focus {
  border-radius: 30px;
}

.account-dropdown {
  position: absolute;
  top: 65px;
  right: 15px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.dropdown-btn {
  border: none;
  background-color: #1f2937;
  color: #fafafa;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
}
.dropdown-btn-dark {
  border: none;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
}

.personal-dropdown-item,
.dropdown-item {
  margin: 5px 0;
  padding: 5px;
}
.personal-dropdown-item:hover,
.dropdown-item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.link {
  text-decoration: none;
}
