.navbar-toggle-btn {
  display: flex;

  margin: 0 0.3rem;
}
.navbar-toggle-btn:hover,
.navbar-toggle-btn:focus {
  cursor: pointer;
  opacity: 0.7;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  padding: 1rem;
  top: 0px;
  background-color: #1f2937;
  align-items: center;
  color: #fafafa;
  z-index: 120;
}
.navbar-dark {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  top: 0px;
  padding: 1rem;
  background-color: rgb(49, 47, 47);
  align-items: center;
  color: grey;
  z-index: 120;
}
.navbarItems {
  width: 25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.image {
  margin: 0 0.3rem;
  background-color: #1f2937;
  border-radius: 50%;
}
.image-dark {
  margin: 0 0.3rem;
  background-color: rgb(49, 47, 47);
  border-radius: 50%;
}

.navbar-signup-btn:hover,
.navbar-signup-btn-dark:hover,
.image-dark:hover,
.image:hover {
  cursor: pointer;
  opacity: 0.7;
  border-radius: 30px;
}
.navbar-signup-btn:focus,
.navbar-signup-btn-dark:focus .navbar-email-btn-dark:focus,
.navbar-email-btn:focus {
  border-radius: 30px;
}

.account-dropdown {
  position: absolute;
  top: 75px;
  right: 7px;
  display: flex;
  flex-direction: column;
}
.dropdown-btn {
  border: none;
  background-color: #1f2937;
  color: #fafafa;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.625rem;
  border-radius: 10px;
}
.dropdown-btn-dark {
  border: none;
  background-color: rgb(49, 47, 47);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.625rem;
  border-radius: 10px;
}

.personal-dropdown-item,
.dropdown-item {
  margin: 5px 0;
  padding: 5px;
}
.personal-dropdown-item:hover,
.dropdown-item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.link {
  text-decoration: none;
}
