.my-profile-container {
  color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}
.container {
  margin-top: 20px;
  padding: 50px;
  width: 100%;
  height: 80%;
  border: 3px solid black;
}
.profile-management-container {
  font-size: 2rem;
  padding: 20px;
  height: 50%;
}
.profile-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-li {
  padding: 10px;
  width: 50%;
  border: 2px solid grey;
  margin: 10px;
  border-radius: 10px;
}

.profile-li:hover {
  opacity: 0.7;
  cursor: pointer;
  background-color: rgba(161, 156, 156, 0.795);
}

.info-section {
  font-size: 2rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.input-fields-ep {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my-profile-label {
  padding: 10px;
}
.my-profile-input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  text-wrap: wrap;
  background-color: transparent;
  border: 1px solid black;
}
.pic {
  padding: 30px 0px;
  border-bottom: 1px solid black;
}
.cropper-view-box {
  border-radius: 50%;
}
.subscription-tier {
  display: flex;
  flex-direction: row;
  text-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pic-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.crop-btn,
.upload-btn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.25rem;
  text-wrap: nowrap;
  margin-top: 2rem;
  margin-right: 0.5rem;
}
.subscription-btn,
.subscription-btn-active,
.change-subscription-btn {
  width: 40%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.2rem;
  align-self: center;
}
.change-subscription-btn {
  width: 50%;
  font-size: 1.2rem;
}
.subscription-btn-active {
  background-color: rgb(85, 167, 85);
  text-wrap: wrap;
}

.upload-btn:hover,
.crop-btn:hover,
.subscription-btn:hover,
.change-subscription-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.change-subscription-btn:hover {
  transform: translateY(-3px);
}

.btn-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
