:root {
  --width: 10vw;
}
.sidebar {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: sticky;
  left: 0px;
  height: 100vh;
  width: var(--width);
  color: #fafafa;
}
.sidebar-dark {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: sticky;
  left: 0px;
  height: 100vh;
  width: var(--width);
  color: grey;
}
.sidebarItems {
  position: fixed;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-btn {
  font-size: 25px;
  padding: 4px;
  width: calc(0.35 * var(--width));
  background-color: #1f2937;
  border: none;
  color: #fafafa;
}
.sidebar-btn-dark {
  font-size: 25px;
  padding: 4px;
  width: calc(0.35 * var(--width));
  background-color: black;
  border: none;
  color: white;
}

.sidebar-btn:hover,
.sidebar-btn-dark:hover {
  cursor: pointer;
  opacity: 0.7;
  border-radius: 30px;
  background-color: #4a5369;
}
.sidebar-btn:focus,
.sidebar-btn-dark:focus {
  background-color: #fafafa;
  color: #1f2937;
  border-radius: 30px;
}
.sidebar-menu-btn {
  font-size: 23px;
  width: calc(0.35 * --width);
  background-color: #1f2937;
  border: none;
  color: #fafafa;
}
.sidebar-menu-btn:hover {
  border-radius: 60px;
  border: 0.5px solid #4a5369;
  width: calc(0.35 * var(--width));
}
.link {
  color: #fafafa;
}
@media (max-width: 1719px) {
  .sidebar {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: sticky;
    left: 0px;
    height: 100vh;
    width: 150px;
    color: #fafafa;
    z-index: 2;
  }
  .sidebar-dark {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: sticky;
    left: 0px;
    height: 100vh;
    width: 150px;
    color: grey;
  }

  .sidebar-btn {
    font-size: calc(0.15 * var(--width));
    width: calc(0.1 * var(--width));
    background-color: #1f2937;
    border: none;
    color: #fafafa;
  }
  .sidebar-btn-dark {
    font-size: calc(0.15 * var(--width));
    width: calc(0.1 * var(--width));
    background-color: black;
    border: none;
    color: white;
  }
  .sidebar-menu-btn {
    font-size: calc(0.01 * var(--width));
    width: calc(0.1 * var(--width));
    background-color: #1f2937;
    border: none;
    color: #fafafa;
  }
  .sidebar-menu-btn:hover {
    border-radius: 60px;
    border: 0.5px solid #4a5369;
    width: calc(0.1 * var(--width));
  }
}
