/* .footer {
  padding: 13px;
  background-color: #1f2937;
  color: #fafafa;
  z-index: 3;
  position: fixed;
  bottom: 0px;
  left: 5vw;
  height: 3vh;
  width: 90vw;
}
.footer-dark {
  position: fixed;
  bottom: 0px;
  left: 5vw;
  height: 3vh;
  width: 100vw;
  padding: 13px;
  background-color: black;
  color: grey;
  z-index: 3;
} */
