.nothearted {
  color: pink;
  padding: 5px;
  border-radius: 10px;
  border: none;

  height: 25px;
}
.nothearted:hover,
.hearted:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
}
.hearted {
  color: fuchsia;
  background-color: none;

  padding: 5px;
  border-radius: 10px;
  border: none;
  height: 25px;
}
