* {
  box-sizing: border-box;
}
.on {
  background-color: #1f2937;
  color: #fafafa;
}
body {
  margin: 0;
}

.off {
  background-color: #fafafa;
  color: #1f2937;
}

.parentModal {
  position: relative;
  top: 150px;
  left: 120px;
}

.childModal {
  position: absolute;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.human-body-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50%;
  width: 80%;
  border: 1px solid black;
}
.home-toggle {
  width: 500px;
  height: 40px;
  align-self: flex-start;
  z-index: 1;
}
.btn-container {
  float: right;
  margin: 10px;
  color: #fafafa;
  padding: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: #1f2937;
  border-radius: 40px;
}

.article {
  margin: 200px;
  border: 1px solid black;
  width: 20%;
  height: 5%;
  text-align: center;
}
.articles-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
