* {
  box-sizing: border-box;
}
.articles-page {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}
.stretches-header {
  text-align: center;
}
.stretches-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.stretch-step-skeleton {
  flex: 1;
}
.stretches-list {
  max-width: 60rem;
  max-height: 60rem;
}
.stretch-example-content {
  width: 100%;
  max-height: 25rem;
}

.stretches-side-bar-short {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgb(49, 47, 47);
  max-width: 50rem;
  margin-left: 10rem;
}
.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3.75rem;
  background-color: #1f2937;
  color: white;
  align-items: center;
  padding: 0 1rem;
}
.toggle-container-dark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3.75rem;
  background-color: rgb(49, 47, 47);
  color: white;
  align-items: center;
  padding: 0 1rem;
}
.stretches-human-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50rem;
  padding: 1.25rem;
}
.stretches-human-body-container-short {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50rem;
  padding: 1.25rem;
}
.stretches-example-container {
  padding: 0 2rem;
  height: 100%;
}
.stretch-title {
  color: #fafafa;
  width: 95%;
  font-size: 1.5rem;
  text-align: center;
}
.stretch-title-dark {
  color: #fafafa;
  width: 95%;
  font-size: 1.5rem;
  text-align: center;
}
.stretch-example {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55rem;
  max-height: 30rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #1f2937;
  color: #fafafa;
}
.stretch-example-dark {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55rem;
  max-height: 30rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(49, 47, 47);
  color: #fafafa;
}

.stretch-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.3rem;
  height: 2.7rem;
}
.stretch-header-container-dark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.3rem;
  height: 2.7rem;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem;
}

.video {
  width: 23rem;
  border-radius: 0.3rem;
  padding: 0 1rem;
}
.stretch-steps {
  list-style: none;
}

.stretch-step {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 2rem 0;
  font-size: 1.12rem;
  position: relative;
}

.number {
  background-color: #fafafa;
  align-self: center;
  justify-self: center;
  color: #1f2937;
  border-radius: 9999px;
  padding: 0.6rem;
  width: 3.1rem;
  text-align: center;
  font-size: 1.25rem;
  position: absolute;
  left: -3.9rem;
  z-index: 2;
  border: 0.3rem solid #1f2937;
}
.article-page-header {
  text-align: center;
}
