.human-front {
  width: 90%;
  height: 90%;
  fill: #fafafa;
  stroke-width: 0.2em;
  stroke: black;
}
.human-front:hover {
  cursor: pointer;
}
.human-back {
  width: 90%;
  height: 90%;
  fill: #fafafa;
  stroke-width: 0.2em;
  stroke: black;
}
.selected {
  fill: #1f2937;
}
@media (max-width: 1719px) {
  .human-front {
    width: 85%;
    height: 85%;
    padding: 0;
    margin: 0;
    fill: #fafafa;
    stroke-width: 0.2em;
    stroke: black;
  }
  .human-back {
    width: 85%;
    height: 85%;
    fill: #fafafa;
    stroke-width: 0.2em;
    stroke: black;
    padding: 0;
    margin: 0;
  }
}
.human-back:hover {
  cursor: pointer;
}
.body-map-muscle:hover {
  fill: #1f2937;
}
